header{
    background-color: rgb(0, 0, 0);
    border-radius: 30px;
    background: linear-gradient(to left, #000000,#110f15)
}
body {
    background: linear-gradient(to right, #110f15,#000000);
}
.titulo { //formatação 
    font-size: 55px;
    text-align: center;
    color: beige;
    border-radius: 30px;
}
* {
    text-decoration: none;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    
}
.principal {
    
    font-size: 20px;
    background-color: aliceblue;
    border-radius: 30px;
    display: flex;
    text-align: center;
    
}
.texto{ 
    margin: 20px;
    background-color: #f9e4e4;
    border-radius: 150px;
    border-color: antiquewhite;
    padding: 20px;
    left: 10px;
}
.envio{
    font-size: 30px;
    color: #f9e4e4;
    margin: 10px;
    text-align: center;
    padding: 10px;

}

.textoinicio{
    font-size: 35px;
    text-align: center;
    color: #ffffff;
}
.sobretxt{
    text-align: center;
    color: #ffffff;
    font-size: 35px;
}
.divform{
    text-align: center;
    color: #f9e4e4;
    font-size: 35px;
}
.formprin{
    margin-top: 120px;
    border-radius: 30px;
    background-color: #f9e4e4;
    color: #000000;
}
.portif{
    color: #f9e4e4;
    font-size: 35px;
    text-align: center;
}
.botao {
    font-size: 20px;
    margin: 100px;
    width: 120px;
    border-radius: 30px;
}